.rbc-row-segment {
    padding-left: 4px;
    padding-right: 4px;
}

.rbc-event {
    background-color: rgb(168, 85, 247);
}

.rbc-event.rbc-selected {
    background-color: rgb(168, 85, 247);
}

.rbc-today {
    background-color: rgb(243, 232, 255);
}

.rbc-btn-group button {
    background-color: rgb(168, 85, 247);
    color: white;
    border: none;
}

.rbc-btn-group button:hover {
    background-color: rgb(147, 51, 234);
    color: white;
    font-weight: bold;
}

.rbc-toolbar-label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(168, 85, 247);
}