.rbc-month-view {
    border-radius: 12px;
    overflow: hidden;
}

.rbc-row-segment {
    padding-left: 4px;
    padding-right: 4px;
}

.rbc-event {
    background-color: rgb(168, 85, 247);
    font-size: 15px;
    border-radius: 30px;
}

.rbc-event.rbc-event-continues-after {
    border-radius: 30px 0 0 30px;
}

.rbc-event.rbc-event-continues-prior {
    border-radius: 0 30px 30px 0;
}

.rbc-event-content {
    padding-left: 6px;
    padding-right: 6px;
}

.rbc-event.rbc-selected {
    background-color: rgb(168, 85, 247);
}

.rbc-today {
    background-color: rgb(243, 232, 255);
}

.rbc-btn-group button {
    background-color: rgb(168, 85, 247);
    color: white;
    border: none;
}

.rbc-btn-group button:hover {
    background-color: rgb(147, 51, 234);
    color: white;
    font-weight: bold;
}

.rbc-toolbar-label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(168, 85, 247);
}

.rbc-header {
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(234 179 8);
    background-color: rgb(55 65 81);
}

.rbc-date-cell .rbc-button-link {
    font-size: 24px;
    color: rgb(192 132 252)
}

.rbc-date-cell.rbc-off-range .rbc-button-link {
    font-size: 24px;
    color: rgb(156 163 175);
}

.rbc-date-cell.rbc-now.rbc-current .rbc-button-link {
    font-size: 24px;
    color: rgb(147 51 234);
}